/* Start Nav */
.container-header {
  /* border: 0.1px dotted rgb(9, 7, 138); */
  /* max-width: 1920px; */
  margin: auto;
  padding: 0px;
}

/* Strat Nav Mobile*/
.navigation-mobile {
  /* border: 0.1px dotted red; */
  /* Vì cố định FIXED nên độ cao sẽ che các khối dưới */
  padding: 18px 80px;
  /* Cố định thanh Menu */
  /* position: fixed; */
  top: 0px;
  right: 0px;
  z-index: 1000;
  width: 100%;
  background: white;
  border-bottom: 1px solid rgba(228, 35, 19, 0.5);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon-menu-hiden-mobile {
  padding: 10px 18px;
  border: 1px solid #e42313;
  background: #e42313;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  /* border-radius: 6px; */
  transition: all 0.2s;
}
.icon-menu-hiden-mobile:hover {
  background: #f8f8f8;
  color: #e42313;
}

.menu-infos-header-mobile {
  width: 100%;
  display: none;
  background-color: rgb(253, 253, 253);
  border: 1px solid red;
  /* box-shadow: 0px -8px 34px rgb(31 219 132 / 60%); */
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  /* Vị trí tương đối cho menu mobile ẩn */
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 10;
  /* border: 0.1px dotted red; */
}
.menu-infor-mobile {
  color: black;
  padding: 15px 20px;
  transition: all 0.2s;
}

.menu-infor-mobile:hover {
  color: #e42313;
  text-shadow: 0px 0px 2px 0px red;
  font-weight: 700;
}

/* End Nav Mobile*/

/* Strat Nav Desktop */
.navigation-desktop {
  /* border: 0.1px dotted red; */
  /* Cố định thanh Menu */
  /* position: fixed; */
  top: -1px;
  right: 0px;
  z-index: 1000;
  width: 100%;
  background: white;
  /* border-bottom: 1px solid red; */
  border-bottom: 1px solid rgba(228, 35, 19, 0.5);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 80px;
}

.logo-master-audio {
  /* border: 0.1px dotted red; */
  width: 96px;
}
.logo-master-audio img {
  max-width: 100%;
  /* max-height: 100%; */
  transition: all 0.2s;
}
.logo-master-audio img:hover {
  opacity: 0.8;
}

.menu-pages-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 28px;
  font-weight: 600;
  font-size: 20px;
}
/* .menu-pages-desktop a {
  color: black;
}
.menu-pages-desktop:hover a {
  color: #E42313;
} */
.menu-page-desktop {
  color: black;
  transition: all 0.2s;
}
.menu-page-desktop:hover {
  color: #e42313;
  transform: scale(1.08);
}

.cart-login {
  /* border: 0.1px dotted red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-gap: 28px;
  font-size: 20px;
  /* color: #e42313; */
}
.cart-login a {
  color: #000000;
}
/* Cart */
.cart-icon {
  border-radius: 25px;
  /* padding: 3px 9px; */
  color: #000000;
  transition: all 0.3s;
}
.cart-icon:hover {
  color: #e42313;
  /* background: rgba(228,35,19, 0.1); */
}
/* Điểm tự position cho cart */
.cart-icon {
  position: relative;
}
.cart-number-items {
  background: rgba(228, 35, 19, 0.5);
  border-radius: 25px;
  color: white;
  font-size: 8px;
  padding: 0.8px 3.7px 1px 3.7px;

  position: absolute;
  right: -8px;
  top: 0px;
}
.cart-number-items:hover {
  /* border: 0.1px solid rgba(228,35,19, 1); */
  background: rgba(228,35,19, 0.8);
}
/* like */
.liked-product-wishlist {
  border: rgba(228, 35, 19, 1);
  /* color: #ff9dd8; */
  border-radius: 25px;
  /* padding: 2px 9px; */
  color: #000000;
  font-size: 1.2rem;
  cursor: pointer;

  position: relative;
  line-height: 1.6 !important;
  transition: all 0.3s ease;
}
.liked-product-wishlist:hover {
  color: #fc77c7;
  /* background: rgba(228,35,19, 0.1); */
}
/* Điểm tự position cho like */
.liked-product-wishlist {

}
.liked-number-item {
  background: rgba(228, 35, 19, 0.5);
  border-radius: 25px;
  color: white;
  font-size: 8px;
  padding: 0.2px 3.7px 0.5px 3.7px;

  position: absolute;
  right: -8px;
  top: -1px;
}
.liked-number-item:hover {
  /* border: 0.1px solid rgba(228,35,19, 1); */
  background: rgba(228,35,19, 0.8);
}

/* login */
.login-register-btn {
  border-radius: 25px;
  /* padding: 2px 9px; */
  color: #000000;
  transition: all 0.3s;
}
.login-register-btn:hover {
  /* background: rgba(228,35,19, 0.1); */
  color: #e42313;
  cursor: pointer;
}

/* End Nav Desktop */

/* -- Start Đăng nhập / đăng kí -- */
/* Phần nền xám mờ và đẩy giữa khối form */
.login-register-container {
  /* border: 1px solid red; */
  width: 100%;
  height: 1000px;
  background: rgba(204, 201, 201, 0.5);
  /* position: fixed; */
  top: -20px;
  z-index: 1002;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  display: none;
}

.login-register-form {
  /* border: 1px solid rgba(228,35,19, 0.2); */
  border-radius: 2px;
  background: white;
  padding: 20px 28px 24px 28px;
  width: 380px;
  /* height: 590px; */
  margin: auto;
  margin-top: 90px;
}
/* Start Tab chuyển bootstap ghi đê css */
.login-register-tab-change {
  /* border: 1px solid rgba(228,35,19, 1); */

  display: flex;
  flex-direction: row;
  grid-gap: 8px;
}
.login-register-tab-change button {
  width: 150px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border: 1px solid rgba(228, 35, 19, 1);
  background: rgba(228, 35, 19, 0.8) !important;
}
.nav-link {
  color: #000000;
}
.nav-link:focus,
.nav-link:hover {
  color: #000000;
}
/* End Tab chuyển bootstap ghi đê css */

.login-register-form-title {
  /* border: 1px solid red; */
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.laber-inputs-infor {
  /* border: 1px solid violet; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-gap: 8px;
}
.laber-input-infor {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-gap: 4px;
}
.laber-input-infor input {
  /* border: 0.1px solid rgba(228, 35, 19, 0.5); */
  border: 0.1px solid rgba(208,208,208, 1);
}

/* Nút đăng kí */
.register-button {
  width: 100%;
  /* border: 1px solid rgba(0,177,79, 1); */
  border-radius: 2px;
  color: white;
  background: rgba(0, 177, 79, 1);
  box-shadow: 0px 0p 12px 0px rgba(0, 177, 79, 1);
  cursor: pointer;
  text-align: center;
  padding: 8px 0px;
  transition: all 0.2s;
}
.register-button:hover {
  color: white;
  background: rgba(0, 177, 79, 0.8);
  /* box-shadow: 0px 0p 12px 0px rgba(0,177,79, 1); */
}

/* -- End Đăng nhập / đăng kí -- */

/* Kê navigation */
.margin-top-nav {
  width: 100%;
  height: 74.59px;
  background: rgb(226, 226, 226);
  position: relative;
}
/* ****************************************8 */
/* Start Responsive by @Media same bootstrap */
/* X-Small */
@media (max-width: 576px) {
  /* Hiện menu mobile-icon hambeger >576px giảm lề */
  .navigation-mobile {
    display: block;
    display: flex;
    padding: 4px 8px;
  }
  .icon-menu-hiden-mobile {
    padding: 10px 18px;
  }

  /* Ẩn menu desktop */
  .navigation-desktop {
    display: none;
  }

  /* Giảm kích thước trông thấy của logo chúng ở màn iphone 5 */
  .logo-master-audio {
    width: 88px;
  }

  /* Kê navigation giảm chiều cao màn iphone */
  .margin-top-nav {
    height: 62.59px;
  }

  /* khung form đăng kí - đăng nhập co ngang vừa màn iphone */
  .login-register-form {
    width: 90%;
    margin-top: 40px;
    padding: 10px 12px 10px 12px;
  }
}

/* Small Điểm ngắt 1 */
@media (min-width: 576px) {
  /* Hiện menu mobile-icon hambeger <=576px giảm lề */
  .navigation-mobile {
    display: block;
    display: flex;
    padding: 4px 30px;
  }
  /* Ẩn menu desktop */
  .navigation-desktop {
    display: none;
  }
  /* Giảm kích thước trông thấy của logo chúng ở màn nhỏ >567px */
  .logo-master-audio {
    width: 92px;
  }
  /* Kê navigation giảm chiều cao màn */
  .margin-top-nav {
    height: 64.59px;
  }

  /* khung form đăng kí - đăng nhập co ngang vừa màn nhỏ */
  .login-register-form {
    width: 380px;
    margin-top: 90px;
  }
}

/* Medium Điểm ngắt 2  */
@media (min-width: 768px) {
  /* Hiện menu mobile-icon hambeger <=576px giảm lề */
  .navigation-mobile {
    /* display: block; */
    /* display: flex; */
    padding: 8px 40px;
  }
  /* Giảm kích thước trông thấy của logo chúng ở màn nhỏ >768px */
  .logo-master-audio {
    width: 96px;
  }

  /* Kê navigation giữ chiều cao */
  .margin-top-nav {
    height: 74.59px;
  }

  /* khung form đăng kí - đăng nhập co ngang vừa màn nhỏ */
  .login-register-form {
    width: 380px;
    margin-top: 90px;
  }
}

/* Large */
@media (min-width: 992px) {
  /* Ẩn menu mobile-icon hambeger (lơn hơn) <=992px */
  .navigation-mobile {
    display: none;
  }
  /* Hiện menu desktop flex lại, thêm padding */
  .navigation-desktop {
    display: block;
    display: flex;
    padding: 8px 60px;
  }
  /* Giữ kích thước trông thấy của logo chúng ở màn nhỏ >992px */
  .logo-master-audio {
    width: 96px;
  }
}

/* Extra large */
@media (min-width: 1200px) {
  /* Hiện menu desktop flex lại, thêm padding */
  .navigation-desktop {
    padding: 8px 80px;
  }
  /* khung form đăng kí - đăng nhập co ngang vừa màn nhỏ */
  .login-register-form {
    width: 380px;
    margin-top: 80px;
  }
}

/* Extra extra large Điểm ngắt 3 */
@media (min-width: 1400px) {
}
/* End Responsive by @Media same  bootstrap*/
