/* Tệp index Trang chủ */
/* font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* font Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* background: #f8f8f8; */
  background: #ffffff;
  /* background:#F6F6F6; */
}

/* ::selection {
  color: red;
} */
a {
  text-decoration: none;
  cursor: pointer;
}
.container-fluid {
  padding: 0px;
}
/* style cho ô INPUT dùng chung  */
input {
  border: 1px solid rgba(208,208,208, 1);
  border-radius: 2px;
  padding: 8px 6px;
  transition: all 0.2s;
}
input:hover {
  box-shadow: 0px 0px 4px 0px rgba(208,208,208, 1);
}
input:focus {
  outline: none !important;
  box-shadow: 0px 0px 2px 0px rgba(208,208,208, 1);
}
input::placeholder {
  color: rgba(208,208,208, 0.8);
  font-size: 14px;
}

/* Start Nav */
/* Nav Mobile */
/* Nav Desktop */

/* Banner top home */
.banner-top-home {
  margin-top: -1px;
  position: relative;
  width: 100%;
}
.banner-top-home img {
  width: 100%;
}
/*  */
.banner-content {
  /* border: 1px solid red; */
  position: absolute;
  top: 32%;
  left: 80px;
  width: 800px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
}
.banner-content h1 {
  /* border: 1px solid red; */
  font-size: 52px;
  margin: 0px;
}
.banner-description {
  font-size: 20px;
}

.button-discover {
  border: 0.1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  /* background: #e42313; */
  background: none;
  color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: block;
  text-align: center;
  width: 150px;

  padding: 12px 20px 15px 20px;
  margin-top: 16px;
  transition: all 0.4s;
}
.button-discover:hover {
  background: rgba(255, 255, 255, 0.2);
  /* background: rgba(228,35,19, 0.2); */
  border: 0.1px solid white;
  /* background: #e42313; */
  color: white;
}
.button-discover button {
  color: white;
  border: none;
  background: none;
}
/* Start best seller & new-products */
.best-seller-new-products-title-background {
  background: #f6f6f6;
}
.best-seller-new-products-container {
  border: 0.1px solid #4013e4;
  background: #f6f6f6;
  margin-top: -1px;
  text-align: center;
  /* padding: 12px 80px; */
  padding: 40px 0px;
  /* background: #f8f8f8; */
}
/* Các slide sản phẩm và nút */
.best-seller-products {
  /* border: 0.1px solid #13e413; */
  margin: auto;
  display: flex;
  flex-direction: column;
  /* grid-gap: 36px; */
  padding: 0px 0px 16px 0px;
  margin-top: 36px;
}

/* Ghi đè css nút chuyển slide */
/* .slick-prev:before,
.slick-next:before {
  font-size: 60px;
  line-height: 3;
  color: #e42313;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #e42313;
}

.best-seller-product {
  padding: 2px;
}

.best-seller-product img {
  border: 0.1px solid #e42313;
  width: 100%;
} */

/* Nút xem toàn bộ sản phẩm */
.button-viewall-product {
  background: rgba(228,35,19, 1);
  border-radius: 2px;
  color: white;
  border: 1px solid #e42313;
  width: 230px;
  margin: auto;
  padding: 8px 12px;

  transition: all 0.2s;
}
.button-viewall-product:hover {
  background: rgba(228,35,19, 0.85);
  color: #ffffff;
}
/* End best seller & new-products */

/* Khối CSS đi copy màn khác -------------------------- */
/* Start khối sản phẩm tương tự */
.same-products-container {
  /* border: 0.1px solid #e42313; */
  margin: 0px 80px 40px 80px;
  text-align: center;

  padding: 4px;
}
.same-products-title {
  /* border: 0.1px solid #e42313; */
  font-size: 24px;
  font-weight: 600;
  padding: 16px;
}

.same-products {
  /* border: 1px dotted #ba13e4; */
}
/* Các sản phẩm - các slide !!!!!!!!!!!!!!!!!!! */
.slide-same-products {
  border: 1px solid rgba(228, 35, 19, 0);
  padding: 8px 0px;
}
.slide-same-products:hover {
  /* border: 1px solid rgba(228,35,19, 0.2); */
  padding: 8px 0px;
}
/* Ghi đè css hai bút chuyển slide */
.slick-prev,
.slick-arrow {
  background: #eea8a8;
  color: blue;
  border-radius: 25px;
  padding-bottom: 2px;
  padding-left: 3px;
  width: 28px;
  height: 28px;
  padding: 4px;

  display: none !important;
}

.product {
  border: 0.1px solid rgba(145,146,148, 0.5);
  /* border: 1px solid var(--color-neutral-border); */
  background: #f6f6f6;
  margin: 0px 20px;
  padding: 12px 16px;
  transition: all 0.3s ease;
}
.product:hover {
  box-shadow: 0px 0px 2px 0px rgba(228,35,19, 0.5);
  border: 0.1px solid  rgba(228,35,19, 0.5);

}
/* Ghi đề Css của Slick */
.slick-initialized .slick-slide {
  background: white;
}
/* Ảnh sản phẩm */
.product-img {
  /* border: 0.1px solid #1344e4; */
  padding: 4px;
}
.product-img img {
  width: 100%;
}
/* Thông tin sản phẩm dưới ảnh */
.product-details {
  /* border: 0.1px solid #792579; */
  margin-top: 20px;
}
.product-infor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 8px;
}
.product-infor-brand {
  font-weight: 700;
  font-size: 18px;
}
.product-infor-name-product {
  font-size: 16px;
}
.product-infor-price {
  /* border: 1px solid red; */
  color: #e42313;
  font-size: 22px;
  font-weight: 600;
}
/* Ghi đè css các chấm chuyển slide */
.slick-dots {
  /* border: 0.1px solid #6a13e4; */
  margin-top: 40px;
  position: static !important;
}
.slick-dots li button::before {
  color: red !important;
}

/* End khối sản phẩm tương tự */

/* -- Start Các thương hiệu nổi bật -- */
.famous-brand-container {
  padding: 0px 80px;
  text-align: center;
}
.famous-brand {
  /* border: 1px solid #133de4; */
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}
/* Tiêu đề các khối css giống nhau */
.famous-brand h1,
.best-seller-new-products-title {
  font-size: 32px;
  font-weight: 700;
}

.famous-brand-list-product {
  /* border: 1px solid #004802; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.famous-product {
  border: 1px solid #e42313;
  background: white;
  padding: 40px;
  transition: all 0.2s;
}
.famous-product:hover {
  box-shadow: 0px 0px 4px 0px red;
}
.famous-product img {
  width: 100%;
}

/* End Start Các thương hiệu nổi bật */

/* Start Khẳng định dịch vụ */
.positive-service {
  /* border: 1px solid #e42313; */
  padding-top: 0px;
  color: rgb(0, 0, 0);
  padding: 0px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.positive-service span {
  border: 1px solid rgba(228, 35, 19, 0.2);
  border-radius: 2px;
  width: 90%;
  height: 100%;
  padding: 4px 8px;
  margin: auto;

  transition: all 0.2s;
}
.positive-service span:hover {
  /* border: 1px solid rgba(228,35,19, 0.8); */
}

.positive-icon-text {
  /* border: 1px solid violet; */
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 16px;
}
.positive-icon-text i {
  color: #e42313;
  font-size: 44px;
}

.positive-text {
  /* border: 1px solid rgba(19, 228, 78, 0.2); */
}
/* End Khẳng định dịch vụ */

/* Đường kẻ ngang */
.line-bottom {
  border-top: 1px solid rgba(228, 35, 19, 0.2);
  /* border-top: 1px solid rgba(145,146,148, 0.5); */
  margin: 64px auto 0px auto;
  width: 60%;
}

/* Start Đăng kí nhận tin mới */
.subscribe-receive-news {
  /* border: 1px solid red; */
  /* margin-top: 40px; */
  padding: 64px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-gap: 48px;
}
.subscribe-receive-news-text {
  /* border: 1px solid violet; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-gap: 0px;
}
.subscribe-receive-news-text span {
  font-size: 24px;
  font-weight: 600;
}
.subscribe-receive-news-text small {
  font-size: 16px;
}

/* Ô nhập địa chỉ email */
.subscribe-receive-news-email-input {
  /* border: 1px solid red; */
  margin-top: 12px;
  width: 300px;
  color: #e42313;

  position: relative;
}
.subscribe-receive-news-email-input input {
  width: 100%;
  border-radius: 2px;
}
.subscribe-receive-news-email-input i {
  font-size: 22px;
  opacity: 0.5;
  position: absolute;
  top: 25%;
  right: 5%;
  transition: all 0.2s;
}
.subscribe-receive-news-email-input i:hover {
  transform: scale(1.2);
}
.subscribe-receive-news-email-input i:active {
  opacity: 1;
}
/* End Đăng kí nhận tin mới */

/* ****************************************8 */
/* Start Responsive by @Media same bootstrap */
/* X-Small LỀ 20px */
@media (max-width: 576px) {
  /* Hiện menu mobile-icon hambeger >576px */
  .navigation-mobile {
    display: block;
    display: flex;
  }
  /* Ẩn menu desktop */
  .navigation-desktop {
    display: none;
  }
  /* Tiêu đề banner giảm độ rộng Lề và top của absolute */
  .banner-content {
    width: 80%;
    top: 25%;
    left: 20px;
    grid-gap: 4px;
  }
  .banner-content h1 {
    font-size: 20px;
  }
  .banner-description {
    font-size: 10px;
  }

  /* Nút khám phá ngay điểu chỉnh độ rộng theo phần trăm */
  .button-discover {
    font-size: 8px;
    width: 100px;
    padding: 6px 8px 6px 8px;
    margin-top: 4px;
  }

  /* Khối bán chạy và sp mới giảm lề ơ màn nhỏ */
  .best-seller-new-products-container {
    /* padding: 12px 20px; */
  }
  /* Khối bán chạy giảm kh cách các p tử trong */
  .best-seller-products {
    grid-gap: 0px;
  }
  /* Đoạn đi copy css có class khác */
  .product {
    margin: 0px 8px;
    padding: 4px 8px;
  }

  /* Các chấm chuyển slide giảm kh cách top */
  .slick-dots {
    margin-top: 8px;
  }
  /* Các thương hiệu nổi tiếng famous-product giảm kê khung 20px màn iphone 5 */
  .famous-brand-container {
    padding: 0px 20px;
    text-align: center;
  }
  /* Tiêu đề Các thương hiệu nổi tiếng giảm cỡ chữ */
  .famous-brand h1,
  .best-seller-new-products-title {
    font-size: 24px;
    font-weight: 700;
  }
  /* Các thương hiệu nổi tiếng famous-product co chia 2 số cột lưới*/
  .famous-brand-list-product {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
  /* Các thương hiệu nổi tiếng khung logo giảm padding */
  .famous-product {
    padding: 4px;
  }

  /* Khổi khẳng định thương hiệu - dịch vụ chia số cột giảm */
  .positive-service {
    grid-template-columns: 1fr;
  }
  .positive-service span {
    width: 300px;
  }
}

/* Small Điểm ngắt 1 LỀ 40px */
@media (min-width: 576px) {
  /* Hiện menu mobile-icon hambeger <=576px */
  .navigation-mobile {
    display: block;
    display: flex;
  }
  /* Ẩn menu desktop */
  .navigation-desktop {
    display: none;
  }
  /* Tiêu đề banner giảm độ rộng */
  .banner-content {
    width: 50%;
    top: 25%;
    left: 40px;
    grid-gap: 8px;
  }
  .banner-content h1 {
    font-size: 24px;
  }
  .banner-description {
    font-size: 12px;
  }

  /* Nút khám phá ngay điểu chỉnh độ rộng theo phần trăm */
  .button-discover {
    /* width: 32%; */
    font-size: 12px;
    /* padding: 6px 6px 10px 6px; */
  }
  /* Khối bán chạy và sp mới giảm lề ơ màn nhỏ */
  .best-seller-new-products-container {
    /* padding: 12px 30px; */
  }

  /* Các thương hiệu nổi tiếng Giảm khoảng cách lề ngoài */
  .famous-brand-container {
    padding: 0px 40px;
  }
  /* Tiêu đề Các thương hiệu nổi tiếng giảm cỡ chữ */
  .famous-brand h1,
  .best-seller-new-products-title {
    font-size: 20px;
    font-weight: 700;
  }
  /* Các thương hiệu nổi tiếng famous-product co chia 2 số cột lưới*/
  .famous-brand-list-product {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
  /* Các thương hiệu nổi tiếng khung logo giảm padding */
  .famous-product {
    padding: 12px;
  }

  /* Khổi khẳng định thương hiệu - dịch vụ chia số cột giảm */
  .positive-service {
    grid-template-columns: 1fr 1fr;
  }

  /* Khổi khẳng định thương hiệu - dịch vụ chia số cột giảm */
  .positive-service {
    grid-template-columns: 1fr;
  }
  .positive-service span {
    width: 300px;
  }
}

/* Medium Điểm ngắt 2 Lề? 60px */
@media (min-width: 768px) {
  /* Tiêu đề banner giảm độ rộng */
  .banner-content {
    width: 50%;
    top: 30%;
    left: 60px;
    grid-gap: 12px;
  }
  .banner-content h1 {
    font-size: 28px;
  }
  .banner-description {
    font-size: 16px;
  }
  /* Nút khám phá ngay điểu chỉnh độ rộng theo phần trăm */
  .button-discover {
    padding: 12px 4px 15px 4px;
    width: 150px;
    font-size: 12px;
  }
  /* Khối bán chạy và sp mới giảm lề ơ màn nhỏ */
  .best-seller-new-products-container {
    /* padding: 12px 40px; */
  }

  /* Các thương hiệu nổi tiếng Giảm khoảng cách lề ngoài */
  .famous-brand-container {
    padding: 0px 60px;
  }
  /* Tiêu đề Các thương hiệu nổi tiếng giảm cỡ chữ */
  .famous-brand h1,
  .best-seller-new-products-title {
    font-size: 24px;
    font-weight: 700;
  }
  /* Các thương hiệu nổi tiếng famous-product co chia 2 số cột lưới*/
  .famous-brand-list-product {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }

  /* Khổi khẳng định thương hiệu - dịch vụ chia số cột giảm */
  .positive-service {
    grid-template-columns: 1fr 1fr;
  }
  /* Khối khẳng định thương hiệu fix rộng các khối nhỏ trong */
  .positive-service span {
    width: 300px;
  }
}

/* Large LỀ? 80px */
@media (min-width: 992px) {
  /* Ẩn menu mobile-icon hambeger (lơn hơn) <=992px */
  .navigation-mobile {
    display: none;
  }
  /* Hiện menu desktop flex lại, thêm padding */
  .navigation-desktop {
    display: block;
    display: flex;
    /* padding: 0px 5px; */
  }
  /* Tiêu đề banner giảm độ rộng */
  .banner-content {
    width: 70%;
    top: 32%;
    left: 80px;
    grid-gap: 25px;
  }
  .banner-content h1 {
    font-size: 52px;
  }
  .banner-description {
    font-size: 20px;
  }
  /* Nút khám phá ngay điểu chỉnh độ rộng theo phần trăm */
  .button-discover {
    /* padding: 12px 20px 15px 20px; */
    /* width: 32%; */
    font-size: 16px;
  }
  /* Khối bán chạy và sp mới giảm lề ơ màn nhỏ */
  .best-seller-new-products-container {
    /* padding: 12px 60px; */
  }

  /* Các thương hiệu nổi tiếng Giữ khoảng cách lề ngoài ban đầu màn >992 */
  .famous-brand-container {
    padding: 0px 80px;
  }
  /* Tiêu đề Các thương hiệu nổi tiếng giảm cỡ chữ */
  .famous-brand h1,
  .best-seller-new-products-title {
    font-size: 28px;
    font-weight: 700;
  }
  /* Các thương hiệu nổi tiếng famous-product co chia 2 số cột lưới*/
  .famous-brand-list-product {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }

  /* Khối khẳng định thương hiệu - dịch vụ chia số cột giảm */
  .positive-service {
    grid-template-columns: 1fr 1fr;
  }
  /* Khối khẳng định thương hiệu fix rộng các khối nhỏ trong */
  .positive-service span {
    width: 90%;
  }
}

/* Extra large */
@media (min-width: 1200px) {
  /* Nút khám phá ngay điểu chỉnh độ rộng theo phần trăm */
  .button-discover {
    /* padding: 12px 20px 15px 20px; */
    /* width: 24%; */
  }
  /* Khối bán chạy và sp mới giảm lề ơ màn nhỏ */
  .best-seller-new-products-container {
    /* padding: 12px 80px; */
  }
  /* Tiêu đề Các thương hiệu nổi tiếng giảm cỡ chữ */
  .famous-brand h1,
  .best-seller-new-products-title {
    font-size: 32px;
    font-weight: 700;
  }

  /* Khổi khẳng định thương hiệu - dịch vụ chia số cột giữ nguyên */
  .positive-service {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Extra extra large Điểm ngắt 3 */
@media (min-width: 1400px) {
  /* Nút khám phá ngay điểu chỉnh độ rộng theo phần trăm */
  .button-discover {
    /* padding: 12px 20px 15px 20px; */
    /* width: 16%; */
  }
}
/* End Responsive by @Media same  bootstrap*/

/* Start */
/* End */
