/* Tệp index Trang chủ */
/* font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* font Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* background: #f8f8f8; */
  background: #ffffff;
}
/* ::selection {
  color: red;
} */
a {
  text-decoration: none;
  cursor: pointer;
}
.container-fluid {
  padding: 0px;
}
/*  */
.hovel-chung {
  border: 1px solid #e42313;
  background: #fdfdfd;
  color: #e42313;
}
.hovel-chung:hover {
  background: #e42313;
  color: #ffffff;
}

.hovel-nut-1 {
  background: #e42313;
  border: 1px solid #e42313;
  border-radius: 25px;

  color: white;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}
.hovel-nut-1:hover {
  background: #ffffff;
  color: #e42313;
}
/* Start Nav */

/* End Nav Desktop */

/* Banner top home */
.banner-top-home {
  position: relative;
  width: 100%;
}
.banner-top-home img {
  width: 100%;
}
/*  */
.banner-content {
  /* border: 1px solid red; */
  position: absolute;
  top: 32%;
  left: 80px;
  width: 800px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
}
.banner-content h1 {
  font-size: 52px;
}
.banner-description {
  font-size: 20px;
}

.button-discover {
  border: 0.1px solid #e42313;
  border-radius: 25px;
  background: #e42313;
  color: white;
  width: 154px;
  padding: 12px 20px 15px 20px;
  margin-top: 8px;
  transition: all 0.5s;
}
.button-discover:hover {
  background: rgb(255, 255, 255);
  color: #e42313;
}

/* Start best seller & new-products */
.best-seller-new-products-container {
  /* border: 0.1px solid #4013e4; */

  text-align: center;
  padding: 48px 80px;
  /* background: #f8f8f8; */
}

.best-seller-products {
  border: 0.1px solid #13e413;
  margin: auto;
  display: flex;
  flex-direction: column;
  grid-gap: 36px;
  padding: 0px 0px 48px 0px;
  margin-top: 36px;
}
/* Đính JS carosel */
.banner-carousel {
  display: flex;
  flex-direction: row;
  color: white;
  /* grid-gap: 20px; */
}

.slick-prev:before,
.slick-next:before {
  font-size: 60px;
  line-height: 3;
  color: #e42313;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #e42313;
}

.best-seller-products img {
  /* border: 0.1px solid #e42313; */
  width: 400px;
}

.button-viewall-product {
  background: #e42313;
  color: white;
  border: 1px solid #e42313;
  width: 230px;
  margin: auto;
  padding: 8px 12px;
  border-radius: 25px;
  transition: all 0.2s;
}
.button-viewall-product:hover {
  background: white;
  color: #e42313;
}
/* End best seller & new-products */

/* Start Các thương hiệu nổi bật */
.famous-brand-container {
  padding: 0px 80px;
  text-align: center;
}
.famous-brand {
  /* border: 1px solid #133de4; */
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
}

.famous-brand-list-product {
  /* border: 1px solid #004802; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.famous-product {
  border: 1px solid #e42313;
  background: white;
  padding: 40px;
  transition: all 0.2s;
}
.famous-product:hover {
  box-shadow: 0px 0px 4px 0px red;
}
.famous-product img {
  width: 100%;
}
/* End Start Các thương hiệu nổi bật */

/* Start Blog */
/* End Blog*/

/* ****************************************8 */
/* Start Responsive by @Media same bootstrap */
/* X-Small LỀ 20px */
@media (max-width: 576px) {
  /* Hiện menu mobile-icon hambeger >576px */
  .navigation-mobile {
    display: block;
    display: flex;
  }
  /* Ẩn menu desktop */
  .navigation-desktop {
    display: none;
  }
  /* Tiêu đề banner giảm độ rộng */
  .banner-content {
    width: 80%;
    top: 25%;
    left: 10%;
    grid-gap: 12.5px;
  }
  .banner-content h1 {
    font-size: 26px;
  }
  .banner-description {
    font-size: 10px;
  }
  .button-discover {
    padding: 12px 20px 15px 40px;
    font-size: 10px;
  }

  /* Các thương hiệu nổi tiếng famous-product giảm kê khung 20px màn iphone 5 */
  .famous-brand-container {
    padding: 0px 20px;
    text-align: center;
  }
  /* Các thương hiệu nổi tiếng famous-product co chia 2 số cột lưới*/
  .famous-brand-list-product {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  /* Các thương hiệu nổi tiếng khung logo giảm padding */
  .famous-product {
    padding: 4px;
  }
}

/* Small Điểm ngắt 1 LỀ 40px */
@media (min-width: 576px) {
  /* Hiện menu mobile-icon hambeger <=576px */
  .navigation-mobile {
    display: block;
    display: flex;
  }
  /* Ẩn menu desktop */
  .navigation-desktop {
    display: none;
  }
  /* Tiêu đề banner giảm độ rộng */
  .banner-content {
    width: 80%;
    top: 25%;
    left: 10%;
    grid-gap: 12.5px;
  }
  .banner-content h1 {
    font-size: 34.6px;
  }
  .banner-description {
    font-size: 13.3px;
  }
  .button-discover {
    padding: 12px 20px 15px 30px;
    font-size: 13.3px;
  }

  /* Các thương hiệu nổi tiếng Giảm khoảng cách lề ngoài */
  .famous-brand-container {
    padding: 0px 40px;
  }
  /* Các thương hiệu nổi tiếng famous-product co chia 2 số cột lưới*/
  .famous-brand-list-product {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  /* Các thương hiệu nổi tiếng khung logo giảm padding */
  .famous-product {
    padding: 12px;
  }
}

/* Medium Điểm ngắt 2 Lề? 60px */
@media (min-width: 768px) {
  /* Tiêu đề banner giảm độ rộng */
  .banner-content {
    width: 80%;
    top: 25%;
    left: 80px;
    grid-gap: 20.8px;
  }
  .banner-content h1 {
    font-size: 31.2px;
  }
  .banner-description {
    font-size: 20px;
  }
  .button-discover {
    padding: 12px 20px 15px 20px;
    font-size: 15px;
  }

  /* Các thương hiệu nổi tiếng Giảm khoảng cách lề ngoài */
  .famous-brand-container {
    padding: 0px 60px;
  }
  /* Các thương hiệu nổi tiếng famous-product co chia 2 số cột lưới*/
  .famous-brand-list-product {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
}

/* Large LỀ? 80px */
@media (min-width: 992px) {
  /* Ẩn menu mobile-icon hambeger (lơn hơn) <=992px */
  .navigation-mobile {
    display: none;
  }
  /* Hiện menu desktop flex lại, thêm padding */
  .navigation-desktop {
    display: block;
    display: flex;
    /* padding: 0px 5px; */
  }
  /* Tiêu đề banner giảm độ rộng */
  .banner-content {
    width: 70%;
    top: 32%;
    left: 80px;
    grid-gap: 25px;
  }
  .banner-content h1 {
    font-size: 52px;
  }
  .banner-description {
    font-size: 20px;
  }
  .button-discover {
    padding: 12px 20px 15px 20px;
    font-size: 15px;
  }

  /* Các thương hiệu nổi tiếng Giữ khoảng cách lề ngoài ban đầu màn >992 */
  .famous-brand-container {
    padding: 0px 80px;
  }
  /* Các thương hiệu nổi tiếng famous-product co chia 2 số cột lưới*/
  .famous-brand-list-product {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
  }
}

/* Extra large */
@media (min-width: 1200px) {
}

/* Extra extra large Điểm ngắt 3 */
@media (min-width: 1400px) {
}
/* End Responsive by @Media same  bootstrap*/

/* Start */
/* End */
