/* font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* font Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #f6f6f6;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.container-fluid {
  /* padding: 0px; */
}
/* style cho ô INPUT dùng chung  */
input {
  border: 1px solid rgba(208, 208, 208, 1);
  border-radius: 2px;
  padding: 8px 6px;
  transition: all 0.2s;
}
input:hover {
  box-shadow: 0px 0px 4px 0px rgba(208, 208, 208, 1);
}
input:focus {
  outline: none !important;
  box-shadow: 0px 0px 2px 0px rgba(208, 208, 208, 1);
}
input::placeholder {
  color: rgba(208, 208, 208, 0.8);
  font-size: 14px;
}

/* Nav */
header {
  /* border: 1px solid red; */
}
/* Xử lý danh mục sản phẩm riêng ngoại từ màn index */
/* Thẻ Category iêu đề có nút chỉ xuống  */
.nav-2-category {
  /* border: 0.1px solid rgba(228,35,19, 1); */
  cursor: pointer;
  transition: all 0.3s ease;
}
.nav-2-category:hover {
  background: rgba(92, 98, 103, 0.8);
}
.nav-2-category-title {
  /* border: 0.1px solid violet; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  grid-gap: 6px;
}

.nav-2-category-title i {
  /* border: 0.1px solid rgba(228,35,19, 1); */
  /* display: none; */
  font-size: 22px;
  line-height: 0.2;
  height: 12px;
}
.nav-2-category-title:hover > i {
  display: block;
}
/* Quay mũi tên chỉ lển của Category */
.sort-down-category-to-up {
  transform: rotate(-180deg);
  transition: all 0.3s ease;
}

.categorys {
  border: 0.1px solid rgba(228, 35, 19, 0.2);
  margin-top: 6px;
  z-index: 2;
}
.categorys-none {
  display: none !important;
}
.submenu {
  border: 0.1px solid rgba(228, 35, 19, 0.2);
}
/* End Nav */

/* Start filter */
.filter-container {
  /* border: 1px solid rgb(234, 0, 255); */
  /* padding: 0px 80px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  grid-gap: 32px;
}

.filters {
  /* border: 2px dotted rgb(72, 118, 0); */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-gap: 40px;
  margin-top: 36px;
}

/* Mỗi-1 content và lọc - ngang  */
.filter-by-brand,
.filter-by-classify {
  border: 1px solid rgba(145, 146, 148, 0);
  border-radius: 2px;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding: 8px 4px;
  transition: all 0.3s ease;
}
.filter-by-brand:hover,
.filter-by-classify:hover {
  border: 1px solid rgba(145, 146, 148, 0.5);
}
/*  */
.filter-title {
  font-size: 20px;
  font-weight: 700;
}
.list-brand,
.list-classify {
  /* border: 1px solid rgb(64, 255, 0); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-gap: 16px;
}

/* Div được gắn Carousel */
.list-brand-carousel {
  /* border: 1px solid violet; */
}
/* Ghi đè Css slide chấm chuyển trang */
.slick-dots {
  display: none;
}
/* Logo từng hãng cho bộ lọc */
.brand-logo {
  border: 1px solid rgba(145, 146, 148, 0.5);
  border-radius: 2px;
  width: 100%;
  text-align: center;
  overflow: hidden;
  /* margin: 0px 4px; */
  padding: 4px;

  cursor: pointer;
  transition: all 0.2s ease;
}
.brand-logo:hover {
  border: 1px solid rgba(145, 146, 148, 1);
  /* margin-top: 20px; */
}
.brand-logo img {
  width: 100%;
  /* height: 100%; */
  text-align: center;
  transition: all 0.3s ease;
}
.brand-logo img:hover {
  opacity: 0.6;
}
/* Lọc theo loại sản phẩm */
.brand-classify {
  width: 100%;
  /* height: 60px; */
  text-align: center;
  overflow: hidden;
  padding: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.2s ease;
}
.brand-classify span {
  border: 1px solid rgba(145, 146, 148, 0.5);
  /* width: 126px !imsportant; */
  width: 100%;
  /* height: 55px!important; */
  padding: 12px 0px 12px 0px;
  font-weight: 600;
}

/* Lọc theo giá bán và tìm kiếm */
.filter-by-price-search-container {
  /* border: 1px solid brown; */
  border-radius: 2px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: 24px;
  padding: 12px 26px;
}
/* Lọc theo giá */

/* 2 nút lọc giá */
.filter-by-price-buttons {
  /* border: 1px solid rgb(85, 223, 21); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}
.filter-by-price-button {
  box-shadow: 0px 0px 2px rgba(26, 44, 66, 0.9);
  border-radius: 2px;

  background: rgba(26, 44, 66, 1);
  color: white;

  padding: 6px 20px;
  cursor: pointer;
  transition: all 0.2s;
}
.filter-by-price-button:hover {
  background: rgba(26, 44, 66, 0.9);
  color: white;
}

/* Ô tìm kiếm */
.product-search {
  /* border: 1px solid #E42313; */
  padding-top: 4px;
  position: relative;
}

.search-input {
  /* border: 1px solid #e42313; */
  border-radius: 2px;
  background: white;
  padding: 8px;
  /* Độ rộng input */
  max-width: 100%;
}
/* .search-input::placeholder {
  color: #e42313;
  opacity: 0.4;
} */
/* .search-input:active {
  border: white;
} */

/* icon tìm kiếm */
.search-icon {
  /* border: 1px solid #e42313; */
  /* background: #e42313; */
  opacity: 8;
  color: rgba(208, 208, 208, 1);
  border-radius: 2px;
  /* width: 55px; */
  margin-top: 5px;
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  right: 10px;
  top: -8px;
  transition: all 0.2s;
}
.search-icon:hover {
  background: white;
  color: rgba(228, 35, 19, 0.81);
}
/* End filter */

/* Start Danh sách các sản phẩm và phân trang */
/* End Danh sách các sản phẩm và phân trang */

/* Start */
/* End */

/* ***************************************** */
/* Start Responsive by @Media same bootstrap */

/* X-Small */
@media (max-width: 576px) {
  /* Ở màn bé nhất lề web giảm ngang còn 20px */
  .filter-container {
    /* padding: 0px 20px; */
    padding: 0px;
  }
  /* Dưới 576px 2 khối lọc xếp dọc và chia 3 cột mỗi khối lọc*/
  .filters {
    /* flex-direction: column; */
    grid-gap: 12px;
  }
  /*  */
  .filter-by-brand,
  .filter-by-classify {
    padding: 20px 12px;
  }

  /* Tiêu đề khối lọc sản phẩm giảm 4px->16px */
  .filter-title {
    font-size: 18px;
  }
  /* Co 3 hàng cho khối lọc theo thương hiệu */
  .list-brand,
  .list-classify {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* Ở màn iphone 5 cỡ chữ của brand lọc giảm nhỏ gần nửa */
  .brand-logo span {
    font-size: 12px;
  }
  /* Giảm khoảng cách phần tử cho khối lọc giá và tìm kiếm */
  .filter-by-price-search-container {
    grid-gap: 16px;
  }
  /* Nút lọc sản phẩm theo giá giảm cỡ chữ đủ cho iphone 5 */
  .filter-by-price-button {
    font-size: 12px;
    padding: 6px 12px;
  }
  /* Thay đổi xếp DỌC khối bọc lọc giá và tìm kiếm */
  .filter-by-price-search-container {
    flex-direction: column;
  }
  /* Thay đổi độ rộng ô tìm kiếm product */
  .search-input {
    /* width: 260px; */
    width: 100%;
  }
}

/* Small */
@media (min-width: 576px) {
  /* Ở màn bé nhất lề web giảm ngang còn 40px */
  .filter-container {
    /* padding: 0px 40px; */
    max-width: 100% !important;
  }
  /* Trên 576px 2 khối lọc xếp dọc và chia 3 cột mỗi khối lọc*/
  .filters {
    /* flex-direction: column; */
  }

  /* Tiêu đề khối lọc sản phẩm giảm 4px->16px */
  .filter-title {
    font-size: 20px;
  }
  /* Co 2 hàng cho khối lọc theo thương hiệu */
  .list-brand,
  .list-classify {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  /* Ở màn Lớn hơn iphone 5 cỡ chữ của brand lọc với cỡ chữ chuẩn, khối ọc phân 2 */
  .brand-logo span {
    font-size: 16px;
  }
  /* Nút lọc sản phẩm theo giá cỡ chữ đủ cho màn lớn hơn iphone 5 */
  .filter-by-price-button {
    font-size: 20px;
  }

  /* Thay đổi xếp DỌC khối bọc lọc giá và tìm kiếm */
  .filter-by-price-search-container {
    flex-direction: column;
  }
  /* Thay đổi độ rộng ô tìm kiếm product */
  .search-input {
    width: 80%;
  }
}

/* Medium */
@media (min-width: 768px) {
  /* Ở màn 768px lề web giảm ngang còn 60px */
  .filter-container {
    max-width: 100% !important;
    /* padding: 0px 60px; */
  }

  /* Trên 768px 2 khối lọc vẫn xếp ngang */
  .filters {
    /* flex-direction: row; */
    grid-gap: 16px;
  }
  /* Co 2 hàng cho khối lọc theo thương hiệu */
  .list-brand,
  .list-classify {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  /* Tiêu đề khối lọc sản phẩm bth: 20px */
  .filter-title {
    font-size: 20px;
  }

  /* Thay đổi xếp DỌC khối bọc lọc giá và tìm kiếm */
  .filter-by-price-search-container {
    flex-direction: column;
  }
  /* Thay đổi độ rộng ô tìm kiếm product */
  .search-input {
    width: 70%;
  }
}

/* Large */
@media (min-width: 992px) {
  /* Ở màn 992px lề web ngang theo boostrap */
  .filter-container {
    max-width: 960px !important;
    /* padding: 0px 80px; */
  }
  /* Trên 768px 2 khối lọc vẫn xếp ngang */
  .filters {
    /* flex-direction: row; */
    grid-gap: 8px;
  }
  /* Co 2 hàng cho khối lọc theo thương hiệu */
  .list-brand,
  .list-classify {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  /* Thay đổi xếp DỌC khối bọc lọc giá và tìm kiếm */
  .filter-by-price-search-container {
    flex-direction: row;
  }
  /* Thay đổi độ rộng ô tìm kiếm product */
  .search-input {
    width: 360px;
  }
}

/* Extra large */
@media (min-width: 1200px) {
  /* Ở màn 1200px lề web ngang theo boostrap */
  .filter-container {
    max-width: 1140px !important;
    /* padding: 0px 80px; */
  }
  /* Trên 1200px 2 khối lọc vẫn xếp ngang khoảng các khối trong giảm */
  .filters {
    /* flex-direction: row; */
    grid-gap: 40px;
  }
  /* Co 2 hàng cho khối lọc theo thương hiệu */
  .list-brand,
  .list-classify {
    display: flex;
  }
}

/* Extra extra large */
@media (min-width: 1400px) {
  /* Ở màn 1200px lề web ngang theo boostrap */
  .filter-container {
    max-width: 1320px !important;
    /* padding: 0px 80px; */
  }
}
/* End Responsive by @Media same  bootstrap*/

/* Start */
/* End */
