.breadcrumb-container {
  /* border: 1px solid red; */
  background-color: #c4c4c4;
  width: 100%;
  /* height: 40px; */
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  /* Khoảng cách top vì đẩy cho NAV cố định che lên */
  /* Bỏ vì Nav để relative rồi */
  margin-top: -1px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumb {
  margin: 0;
  margin-top: -3px;
}
.breadcrumb a {
  color: black;
  height: 100%;
}
.breadcrumb a:hover {
  color: #e42313;
}
.breadcrumb-item {

}


/* ***************************************** */
/* Start Responsive by @Media same bootstrap */

/* X-Small */
@media (max-width: 576px) {
  /* Giảm khoảng cách lề và cỡ chữ cho breacum ở màn iphone 5 */
  .breadcrumb-container {
    padding: 3px 8px;
    font-size: 12px;
    /* margin-top: 89px; */
  }
  .breadcrumb {
    padding-top: 2px;
    /* height: 25px; */
  }
}
/* Small */
@media (min-width: 576px) {
  /* Giảm khoảng cách lề và cỡ chữ cho breacum ở màn trên 567px */
  .breadcrumb-container {
    padding: 4px 30px;
    font-size: 12px;
    /* margin-top: 89px; */

  }
}

/* Medium */
@media (min-width: 768px) {
  /* Giảm khoảng cách lề và cỡ chữ cho breacum ở màn trên 768px */
  .breadcrumb-container {
    padding: 8px 40px;
    font-size: 12px;
    /* margin-top: 100px; */
  }
}

/* Large */
@media (min-width: 992px) {
  /* Giảm khoảng cách lề và cỡ chữ cho breacum ở màn trên 768px */
  .breadcrumb-container {
    padding: 6px 60px;
    font-size: 14px;
    /* margin-top: 79px; */
  }
  .breadcrumb{
    /* margin-top: 5px; */
  }
}

/* Extra large */
@media (min-width: 1200px) {
  /* Giảm khoảng cách lề và cỡ chữ cho breacum ở màn trên 768px */
  .breadcrumb-container {
    padding: 6px 80px;
    font-size: 16px;
  }
  .breadcrumb{
    /* margin-top: 0px; */
  }
}

/* Extra extra large */
@media (min-width: 1400px) {
}
/* End Responsive by @Media same  bootstrap*/
