/* Start Danh sách các sản phẩm và phân trang */
.products-pagination-container {
    /* border: 1px dotted #e42313; */
    width: 100%;
    padding-bottom: 20px;
    /* padding: 40px 80px; */
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .list-products {
    /* border: 1px dotted #e4d613; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }
  /*  */
  .product {
    border: 0.1px solid rgba(145, 146, 148, 0.3);
    width: 100%;
    background: #ffffff;
    /* padding: 12px 20px 12px 20px; */
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 40px;

    position: relative;
    transition: all 0.2s;
  }
  .product:hover {
    border: 0.1px solid rgba(228, 35, 19, 0.3);
  }
  .product a {
    /* border: 1px dotted #E42313; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .product-img {
    /* border: 1px dotted #E42313; */
    width: 100%;
    /* height: 100%; */
    transition: all 0.3s ease-in-out;
  }
  .product-img:hover {
    opacity: 0.8;
  }
  .product-img img {
    width: 100%;
    height: 100%;
  }
  
  .product-details {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
  }
  .product-infor {
    /* border: 1px solid rgb(0, 187, 255); */
    /* padding: 12px 28px; */
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
  }
  .product-infor-brand {
    font-weight: 700;
    font-size: 20px;
  }
  .product-infor-price {
    /* border: 1px solid red; */
    color: rgba(12,17,21, 1);
    font-size: 22px;
    font-weight: 600;
  }
  /* Thích sản phẩm - Thả tim*/
  .like-product {
    color: rgba(228,35,19, 1);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .like-product:hover {
    font-weight: 600;
  }
  
  .product-details-button {
    /* border: 1px solid rgb(128, 0, 255); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* padding: 12px 28px; */
    grid-gap: 12px;
  }
  .product-details-button span {
    /* border: 1px solid rgb(255, 89, 0); */
    border-radius: 2px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    font-size: 14px;
  }
  
  .product-details-button-cart {
    border: 1px solid rgba(236, 175, 68, 1);
    background: rgba(236, 175, 68, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    transition: all 0.2s;
  }
  .product-details-button-cart:hover {
    background: rgba(236, 175, 68, 0.85);
    color: white;
  }
  
  .product-details-button-buynow {
    width: 100%;
    border: 1px solid #e42313;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    color: rgba(228,35,19, 1);
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    padding: 7px 0px;
    transition: all 0.2s;
  }
  .product-details-button-buynow:hover {
    background: rgba(228,35,19, 0.2);
    color: rgba(228,35,19, 1);
  }
  
  /*  */
  
  /* Phân trang */
  .paginations {
    /* border: 1px dotted #13e463; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    margin-top: 64px;
  }
  #paginations-active {
    background: #e42313;
    color: white;
  }
  .paginations span {
    border: 1px solid #e42313;
    border-radius: 25px;
    color: #e42313;
    font-size: 16px;
    padding: 2.5px 10.5px;
    transition: all 0.2s;
  }
  .paginations span:hover {
    background: #e42313;
    color: white;
    transform: scale(1.1);
  }
  
  /* End Danh sách các sản phẩm và phân trang */

  /* Start Responsive by @Media same bootstrap */

/* X-Small */
@media (max-width: 576px) {
  /* Danh sách sản phẩm giảm lề ở màn iphone 5 còn 20px */
  .products-pagination-container {
    /* padding: 10px 20px; */
  }
  /* Danh sách Products giảm khoảng cách lưới còn 4px */
  .list-products {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  /* Mỗi 1 sản phẩm có viền trong giảm vừa, giảm kh cách lưới */
  .product {
    padding: 8px 12px;
    grid-gap: 8px;
  }
  /* Khối thông tin sản phẩm và nút giảm dày viền ngoài */
  .product-infor,
  .product-details-button {
    /* padding: 12px 20px; */
  }

  /* Phân trang giảm kích thước phần tử = padding */
  .paginations span {
    font-size: 12px;
    padding: 4px 9px;
  }
}

/* Small */
@media (min-width: 576px) {
  /* Danh sách sản phẩm giảm lề ở màn 576px còn 60px */
  .products-pagination-container {
    /* padding: 20px 40px; */
  }
  /* Danh sách sản phẩm 2 cột sp, k cách lưới giảm */
  .list-products {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }

  /* Mỗi 1 sản phẩm có viền trong giảm vừa, giảm kh cách lưới */
  .product {
    /* padding: 8px 12px; */
    grid-gap: 16px;
  }
  /* Khối thông tin sản phẩm và nút giảm dày viền ngoài */
  .product-infor,
  .product-details-button {
    /* padding: 12px 20px; */
  }
}

/* Medium */
@media (min-width: 768px) {
  /* Danh sách sản phẩm giảm lề ở màn còn 60px */
  .products-pagination-container {
    /* padding: 30px 60px; */
  }
  /* Danh sách sản phẩm 2 cột sp, k cách lưới giảm */
  .list-products {
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px;
  }

  /* Mỗi 1 sản phẩm có viền trong giảm vừa, giảm kh cách lưới */
  .product {
    /* padding: 8px 16px; */
    grid-gap: 24px;
  }
  /* Khối thông tin sản phẩm và nút giảm dày viền ngoài */
  .product-infor,
  .product-details-button {
    /* padding: 12px 24px; */
  }
}

/* Large */
@media (min-width: 992px) {
   /* Danh sách sản phẩm giảm lề ở màn 992px còn 80px  */
   .products-pagination-container {
    /* padding: 40px 80px; */
  }
  /* Danh sách sản phẩm 2 cột sp, k cách lưới giảm */
  .list-products {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
  }

  /* Mỗi 1 sản phẩm có viền trong giảm vừa, giảm kh cách lưới */
  .product {
    /* padding: 12px 20px; */
    grid-gap: 28px;
  }
  /* Khối thông tin sản phẩm và nút giảm dày viền ngoài */
  .product-infor,
  .product-details-button {
    /* padding: 12px 28px; */
  }
}

/* Extra large */
@media (min-width: 1200px) {
   /* Danh sách sản phẩm giữ lề ở màn 1200px 80px */
   .products-pagination-container {
    /* padding: 40px 80px;s */
  }
  /* Danh sách sản phẩm 2 cột sp, k cách lưới giảm */
  .list-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
  }

  /* Mỗi 1 sản phẩm có viền trong giảm vừa, giảm kh cách lưới */
  .product {
    /* padding: 12px 20px; */
    grid-gap: 40px;
  }

}

/* Extra extra large */
@media (min-width: 1400px) {
}
/* End Responsive by @Media same  bootstrap*/

/* Start */
/* End */